html, body {
    width: 100%;
    margin: 0;
    padding: 0;
}
main {
    width: 100%;
    margin: 0;
    padding: 0;
}

main .main-container {
    margin-left: 250px;
    margin-right: 250px;
    text-align: justify;
}

.bold {
    font-weight: bold;
}

@media (max-width: 768px) {
    main {
        width: 100%;
        height: auto;
        margin: 0;
    }
    main .main-container {
        width: 95%;
        margin: 5px;
        text-align: justify;
    }
}